@import "params";

@mixin clear {
  margin: 0;
  padding: 0;
}

@mixin clear-list {
  @include clear;
  list-style: none;
}

@mixin flex-center($direction: column, $justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: wrap;
}

@mixin text($fz: $font-size, $fw: bold, $color: $total-color, $lh: $line-height, $fs: normal) {
  font-size: $fz;
  font-weight: $fw;
  font-style: $fs;
  line-height: $lh;
  color: $color;
}

@mixin container($width: $view-port-mobile-inline, $pl: $wrapper-indent, $pr: $wrapper-indent) {
  width: $width;
  //padding-left: $pl;
  //padding-right: $pr;
  margin: 0 auto;
}

@mixin icon($icon, $width, $height, $m: 0) {
  background: transparent url("../img/#{$icon}") no-repeat;
  width: $width;
  height: $height;
  margin: $m;
}

@mixin page-title($pt:70px, $pb:76px) {
  width: 100%;
  background: $section-bg-color;
  padding-top: $pt;
  padding-bottom: $pb;
}

@mixin fieldFlex() {
  display: inherit;
  flex-flow: inherit;
  justify-content: inherit;
  align-items: inherit;
}

@mixin form-section($count: 500px) {
  width: $count;
}

@mixin visible() {
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: relative;
  clip-path: none;
  clip: auto;
}

@mixin interactive-opacity($hov: 0.6, $act: 0.3) {
  &:hover {
    opacity: $hov;
  }

  &:active {
    opacity: $act;
  }
}

@mixin interactive-link($op: 0.6, $color: $word-color) {
  @include interactive-opacity($hov: $op, $act: 0.3);

  &:hover {
    color: $color;
  }

  &:active {
    color: $color;
  }
}

@mixin interactive-icon() {
  @include interactive-link($op: 1, $color: $interactive-color);
}

@mixin item-bg() {
  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

@mixin button-interactive() {
  &:hover {
    background-color: $word-color;
    color: #ffffff;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }
}
