// Fonts params
$main-font-family: "Open Sans";
$reserve-font-family: "Verdana";
$category-fonts: sans-serif;
$font-size: 17px;
$line-height: 24px;

// Colors
$main-bg-color: #ffffff;
$section-bg-color: #f1f1f1;
$word-color: #444444;
$interactive-color: #62d1ba;
$total-color: #000000;
$border-color: #ececec;

// interactive opacity
$link-hover-opacity: 0.6;
$link-down-opacity: 0.3;

// Sizes
$button-width: calc(100% - 5px);
$border-width: 1px;
$wrapper-indent: 30px;
$wrapper-tablet-indent: 50px;
$wrapper-desktop-indent: 100px;
$view-port-mobile: 320px;
$view-port-mobile-inline: $view-port-mobile - ($wrapper-indent * 2);
$view-port-tablet: 768px;
$view-port-tablet-inline: $view-port-tablet - ($wrapper-tablet-indent * 2);
$view-port-desktop: 1050px;
$view-desktop: 1150px;
$view-port-desktop-inline: $view-port-desktop - ($wrapper-desktop-indent * 2);
$description-indent: 28px;
$description-width: $view-port-mobile-inline - ($description-indent * 2);
