@import "../partials/params";
@import "../partials/mixins";

// icons

.advantage {
  @include clear;
  // @include flex-center();
}

.advantage__subtitle {
  @include clear;
  @include text($fz: 25px);
  margin-bottom: 35px;
}

.advantage__list {
  @include clear-list;
  //@include flex-center();
  overflow: hidden;
}

.advantage__item {
  @include text($fz: 17px, $lh: 1.2);
  margin-bottom: 30px;
  position: relative;
  padding-right: 37px;
  //  max-width: 260px;
  box-sizing: border-box;
}

.advantage__item:nth-child(1) {
  padding-right: 63px;
}

.advantage__item:nth-child(3) {
  padding-right: 56px;
}

.advantage__item:nth-child(5) {
  padding-right: 11px;
}

.advantage__item-icon {
  display: block;
  color: $interactive-color;
}

.advantage__ecology {
  width: 32px;
  height: 37px;
  margin-bottom: 17px;
  margin-left: 8px;
}

.advantage__economy {
  width: 47px;
  height: 27px;
  margin-bottom: 27px;
}

.advantage__like {
  width: 45px;
  height: 28px;
  padding-top: 3px;
  margin-bottom: 21px;
  margin-left: 1px;
}

.advantage__handmade {
  width: 35px;
  height: 34px;
  padding-top: 2px;
  margin-bottom: 17px;
  margin-left: 3px;
}

.advantage__native-land {
  width: 55px;
  height: 24px;
  padding-top: 2px;
  margin-bottom: 27px;
  margin-left: -6px;
}

.advantage__gift {
  width: 33px;
  height: 32px;
  padding-top: 1px;
  margin-bottom: 20px;
  margin-left: 3px;
}

@media (min-width: $view-port-tablet) {
  .advantage__list {
    display: flex;
    flex-wrap: wrap;
    //  width: 100%;
    min-height: 466px;
    //align-content: stretch;
    overflow: hidden;
  }

  .advantage__subtitle {
    @include clear;
    @include text($fz: 43px, $lh: 50px);
    margin-bottom: 49px;
    margin-left: -5px;
  }

  .advantage__item {
    @include text($fz: 20px, $lh: 22px);
    // max-width: 100%;
    // width: 50%;
    width: 334px;
    margin-bottom: 58px;
    padding-right: 96px;
    box-sizing: border-box;
  }

  .advantage__list .advantage__item:nth-child(1) {
    padding-right: 102px;
    order: 1;
  }

  .advantage__item:nth-child(2) {
    padding-right: 70px;
    order: 3;
  }

  .advantage__item:nth-child(3) {
    padding-right: 92px;
    order: 5;
  }

  .advantage__item:nth-child(4) {
    padding-right: 33px;
    order: 2;
  }

  .advantage__item:nth-child(5) {
    padding-right: 0;
    order: 4;
  }

  .advantage__item:nth-child(6) {
    padding-right: 39px;
    order: 6;
  }
}

@media (min-width: $view-desktop) {
  .advantage {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .advantage__list {
    width: 668px;
  }

  .advantage__item:nth-child(4),
  .advantage__item:nth-child(5),
  .advantage__item:nth-child(6) {
    padding-left: 16px;
  }

  .advantage__subtitle {
    @include clear;
    @include text($fz: 53px, $lh: 57px);
   // margin-top: 10px;
    margin-bottom: 49px;
    margin-left: -6px;
    padding-top: 10px;
  }
}
