@import "../partials/params";
@import "../partials/mixins";

.page-main {
  @include flex-center();
}

.page-main__wrapper {
  @include flex-center();
  width: 100%;
}

.page-main__promo-wrapper,
.page-main__hit-wrapper,
.page-main__advantage-wrapper,
.page-main__reviews-wrapper,
.page-main__contacts-wrapper {
  @include clear;
  @include container;
}

.page-main__slogan {
  text-align: center;
  padding-top: 69px;
  margin-bottom: 120px;
}

.page-main__promo {
  @include clear;
  width: 100%;
}

.page-main__hit {
  @include clear;
  width: 100%;
}

.page-main__decor-line {
  margin-top: 36px;
  margin-bottom: 32px;
}

.page-main__reviews-decor-line {
  margin-top: 45px;
}

.page-main__advantage {
  @include clear;
  width: 100%;
}

.page-main__reviews {
  @include clear;
  width: 100%;
}

.page-main__reviews-wrapper {
  padding-top: 26px;
}

.page-main__contacts {
  @include clear;
  @include flex-center();
  width: 100%;
  order: 1;
}

.page-main__contacts-wrapper {
  margin-top: 35px;
}

.page-main__map {
  @include flex-center();
  height: 457px;
  margin: 6px auto 0;
  order: 2;
}

.page-main__write {
  @include clear;
  width: 100%;
  order: 3;
}

.page-main__write-wrapper {
  @include container;
  margin-top: 39px;
}

.page-main__write-btn {
  @include text($fz: 18px, $lh: 20px, $color: $word-color);
  @include button-interactive();
  width: calc(100% - 4px);
}

// popup

.page-main__popup-wrapper {
  @include clear;
  @include container;
}

///////////// tablet

@media (min-width: $view-port-tablet) {
  .page-main__popup-wrapper {
    @include clear;
    width: 354px;
    margin: auto;
  }

  .page-main {
    margin-top: -44px;
    border-top: $border-width solid $border-color;
  }

  .page-main__promo-wrapper,
  .page-main__hit-wrapper,
  .page-main__advantage-wrapper,
  .page-main__reviews-wrapper,
  .page-main__contacts-wrapper {
    @include container($view-port-tablet-inline, $wrapper-tablet-indent, $wrapper-tablet-indent);
  }

  .page-main__slogan {
    padding-top: 153px;
    margin-bottom: 374px;
  }

  .page-main__decor-line {
    margin-top: 52px;
    margin-bottom: 43px;
  }

  .page-main__reviews-wrapper {
    padding-top: 0;
  }

  .page-main__advantage {
    margin-bottom: 23px;
  }

  .page-main__reviews {
    padding-bottom: 47px;
  }

  .page-main__reviews-decor-line {
    margin-top: 60px;
    margin-bottom: 10px;
  }

  .page-main__map {
    width: $view-port-tablet;
    height: 457px;
    margin: 27px auto 0;
  }

  .page-main__write-wrapper {
    width: 230px;
    margin-top: 55px;
  }

  .page-main__write-btn {
    @include text($fz: 17px, $lh: 20px, $color: $word-color);
  }
}

@media (min-width: $view-desktop) {
  .page-main {
    border-top: 0;
  }

  .page-main__slogan {
    margin-bottom: 360px;
  }

  .page-main__hit-wrapper,
  .page-main__advantage-wrapper,
  .page-main__reviews-wrapper,
  .page-main__wrapper {
    @include container($view-port-desktop, 0, 0);
  }

  .page-main__advantage {
    margin-bottom: 29px;
  }

  .page-main__hit-wrapper {
    margin-top: 60px;
  }

  .page-main__decor-line {
    margin-top: 72px;
    margin-bottom: 50px;
  }

  .page-main__reviews-decor-line {
    margin-top: 115px;
    margin-bottom: 71px;
  }

  .page-main__wrapper {
    display: block;
    margin-bottom: 48px;
  }

  .page-main__contacts,
  .page-main__write,
  .page-main__map {
    display: inline;
  }

  .page-main__contacts {
    width: 500px;
    float: left;
  }

  .page-main__contacts-wrapper {
    @include clear;
    width: 350px;
    margin-left: 175px;
    padding-top: 71px;
  }

  .page-main__map {
    @include clear;
    width: 525px;
    float: right;
  }

  .page-main__write {
    @include clear;
    display: inline;
    width: auto;
    margin-left: 175px;
    margin-top: 48px;
    float: left;
  }

  .page-main__write-wrapper {
    @include clear;
  }
}
