@import "../partials/params";
@import "../partials/mixins";

.page-main__wrapper {
  @include flex-center();
  width: 100%;
  overflow: hidden;
}

.page-main__promo-wrapper,
.page-main__hit-wrapper,
.page-main__advantage-wrapper,
.page-main__reviews-wrapper,
.page-main__contacts-wrapper {
  @include clear;
  @include container;
}

.page-main__reviews-wrapper {
  padding-top: 26px;
  box-sizing: border-box;
}

.page-main__slogan {
  text-align: center;
  padding-top: 69px;
  margin-bottom: 120px;
}

.page-main__promo {
  @include clear;
  width: 100%;
}

.page-main__hit {
  @include clear;
  width: 100%;
}

.page-main__advantage {
  @include clear;
  width: 100%;
}

.page-main__reviews {
  @include clear;
  width: 100%;
}

.page-main__contacts {
  @include clear;
  @include flex-center();
  width: 100%;
  order: 1;
}

.page-main__contacts-wrapper {
  margin-top: 34px;
}

.page-main__map {
  @include flex-center();
  height: 457px;
  margin: 6px auto 0;
  order: 2;
  width: 100%;
}

.page-main__write {
  @include clear;
  width: 100%;
  order: 3;
}

.page-main__write-wrapper {
  @include container;
  margin-top: 39px;
}

.page-main__write-btn {
  @include text($fz: 18px, $lh: 20px, $color: $word-color);
  @include button-interactive();
  width: calc(100% - 4px);
}

.page-main__hit::after,
.page-main__reviews::after {
  content: "";
  display: block;
  height: 6px;
  width: 320px;
  background: transparent url("../img/bg-zigzag-line.svg");
  background-size: 100% 6px;
  background-position: 8px 0;
  box-sizing: border-box;
}

.page-main__hit::after {
  margin: 36px auto 31px;
}

.page-main__reviews::after {
  margin: 45px auto 0;
}

///////////// tablet

@media (min-width: $view-port-tablet) {
  .page-main__promo::before {
    content: "";
    display: block;
    margin-top: -43px;
    border-top: $border-width solid $border-color;
    background-color: #fafafa;
    width: 100%;
    height: 1px;
  }

  .page-main__hit::after,
  .page-main__reviews::after {
    max-width: 768px;
    width: auto;
    height: 17px;
    background-size: 100% 17px;
    background-position: 18px 0;
  }

  .page-main__hit::after {
    margin-top: 51px;
    margin-bottom: 50px;
  }

  .page-main__reviews::after {
    margin-top: 109px;
    margin-bottom: 13px;
  }

  .page-main__promo-wrapper,
  .page-main__hit-wrapper,
  .page-main__advantage-wrapper,
  .page-main__reviews-wrapper,
  .page-main__contacts-wrapper {
    @include container($view-port-tablet-inline, $wrapper-tablet-indent, $wrapper-tablet-indent);
    box-sizing: border-box;
  }

  .page-main__slogan {
    padding-top: 153px;
    margin-bottom: 372px;
  }

  .page-main__reviews-wrapper {
    padding-top: 0;
  }

  .page-main__advantage {
    margin-bottom: 23px;
  }

  .page-main__reviews {
    padding-bottom: 0;
  }

  .page-main__map {
    height: 457px;
    margin: 27px auto 0;
  }

  .page-main__write-wrapper {
    width: 230px;
    margin-top: 55px;
  }

  .page-main__write-btn {
    @include text($fz: 17px, $lh: 20px, $color: $word-color);
  }
}

@media (min-width: $view-desktop) {
  .page-main__hit::after,
  .page-main__reviews::after {
    //max-width: 768px;
    max-width: $view-port-desktop;
    height: 23px;
    background-size: 100% 23px;
    background-position: 26px 0;
  }

  .page-main__hit::after {
    margin-top: 72px;
    margin-bottom: 50px;
  }

  .page-main__reviews::after {
    margin-top: 162px;
    margin-bottom: 72px;
  }

  .page-main__slogan {
    margin-bottom: 358px;
  }

  .page-main__hit-wrapper,
  .page-main__advantage-wrapper,
  .page-main__reviews-wrapper,
  .page-main__wrapper {
    @include container($view-port-desktop, 0, 0);
  }

  .page-main__advantage {
    margin-bottom: 29px;
  }

  .page-main__hit-wrapper {
    margin-top: 60px;
  }

  .page-main__wrapper {
    display: block;
    margin-bottom: 104px;
  }

  .page-main__contacts,
  .page-main__write,
  .page-main__map {
    display: inline;
  }

  .page-main__contacts {
    width: 500px;
    float: left;
  }

  .page-main__contacts-wrapper {
    @include clear;
    width: 350px;
    margin-left: 175px;
    padding-top: 70px;
  }

  .page-main__map {
    @include clear;
    width: 525px;
    float: right;
  }

  .page-main__write {
    @include clear;
    display: inline;
    width: auto;
    margin-left: 175px;
    margin-top: 48px;
    float: left;
  }

  .page-main__write-wrapper {
    @include clear;
  }
}
