@import "../partials/params";
@import "../partials/mixins";

.products {
  @include clear-list;
  @include flex-center();
  align-items: stretch;
}

.products__item {
  width: 320px;
  min-height: 103px;
  margin: 0 auto;
}

/////////// tablet

@media (min-width: $view-port-tablet) {
  .products {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .products__item {
    width: 50%;
    box-sizing: border-box;
    padding-bottom: 12px;
    min-height: 116px;
  }
}

@media (min-width: $view-desktop) {
  .products__item {
    min-height: 128px;
    padding-bottom: 0;
  }
}
