@import "../partials/params";
@import "../partials/mixins";

$item-bg-color: #56c3b2;

.product--decor {
  background-color: $interactive-color;
}

.product--toy {
  background-color: $item-bg-color;
}

.product__link {
  @include flex-center(row);
  @include text($fz: 19px, $color: #ffffff);
  width: 100%;
  position: relative;
}

.product__span {
  width: 320px;
  margin: 0 auto;
  padding: 26px 120px 29px 29px;
  position: relative;
  box-sizing: border-box;
}

.product__span::after {
  content: "";
  display: inline-block;
  position: absolute;
  opacity: 0.5;
}

.product__span--decor::after {
  background: url("../img/icon-interior.svg") no-repeat;
  width: 40px;
  height: 62px;
  right: 36px;
  top: 23px;
}

.product__span--toy::after {
  background: url("../img/icon-toy.svg") no-repeat;
  width: 60px;
  height: 80px;
  right: 27px;
  top: 21px;
}

@media (min-width: $view-port-tablet) {
  .product .page-main__promo-wrapper {
    @include clear;
    display: block;
    width: auto;
  }

  .product__link {
    @include text($fz: 20px, $lh: 30px, $color: #ffffff);
  }

  .product__span {
    padding-top: 27px;
    padding-left: 36px;
    padding-right: 120px;
    margin: 0;
  }

  .product--decor:hover,
  .product--toy:hover {
    transform: translateY(-5px);
  }

  .product--decor:hover .product__link::after,
  .product--toy:hover .product__link::after {
    opacity: 0.7;
  }

  .product--decor:hover {
    background-color: $item-bg-color;
  }

  .product--toy:hover {
    background-color: $interactive-color;
  }

  .product--decor:active .product__link::after,
  .product--toy:active .product__link::after,
  .product--decor:active .product__link,
  .product--toy:active .product__link {
    opacity: 0.3;
  }

  .product__span--decor::after {
    top: 28px;
    right: 23px;
  }

  .product__span--toy::after {
    top: 30px;
    right: 20px;
  }
}

@media (min-width: $view-desktop) {
  .product__span {
    padding-top: 28px;
    padding-right: 310px;
    padding-left: 36px;
    width: 100%;
  }

  .product__span--decor::after {
    right: 36px;
  }

  .product__span--toy::after {
    right: 35px;
  }
}
