@import "../partials/params";
@import "../partials/mixins";

$bg-color: #fafafa;

.promo {
  &--background {
    background: $bg-color url("../img/hero-mobile@1x.jpg") no-repeat 50% -15%;
    background-size: auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-mobile@2x.jpg");
      background-size: 575px auto;
    }
  }
}

.promo__subtitle {
  @include text($fz: 27px, $lh: 30px);
  text-align: center;
}

.promo__order {
  @include flex-center();
  position: relative;
}

.promo__products {
  width: 100%;
  margin: 0 auto;
}

///////////// tablet

@media (min-width: $view-port-tablet) {
  .promo {
    min-height: 746px;
  }

  .promo--background {
    background: $bg-color url("../img/hero-desktop@1x.jpg") no-repeat 50% 0;
    background-size: auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
    }
  }

  .promo__subtitle {
    @include text ($fz: 43px, $lh: 50px);
    display: block;
  }

  .promo__products {
    @include clear;
    @include container($view-port-tablet-inline, $wrapper-tablet-indent, $wrapper-tablet-indent);
    box-sizing: border-box;
  }

  .promo__order::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 24px;
    background: transparent url("../img/bg-zigzag-fill.svg");
    bottom: 0;
    left: 0;
  }
}

@media (min-width: $view-desktop) {
  .promo {
    position: relative;
  }

  .promo::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 24px;
    background: transparent url("../img/bg-zigzag-fill.svg");
    bottom: 0;
    left: 0;
  }

  .promo__order::after {
    display: none;
  }

  .promo__order {
    @include clear;
    @include container($view-port-desktop, 50px, 50px);
    //border-top: $border-width solid $border-color;
    box-sizing: border-box;
  }

  .promo__subtitle {
    @include text ($fz: 53px, $lh: 57px);
  }

  .promo__products {
    @include clear;
    width: 100%;
  }

  .promo--background {
    width: 100%;
    background: $bg-color url("../img/hero-desktop@1x.jpg") no-repeat 50% 0;
    background-size: auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1150px auto;
    }
  }
}
