@import "../partials/params";
@import "../partials/mixins";

.property {
  @include text($fz: 15px, $fw: normal, $color: $word-color);
  width: 100%;
  margin-top: 18px;
}

.property__body {
  width: inherit;
}

.property__field {
  width: 37.5%;
}

.property__item {
  @include flex-center(row);
  width: 100%;
  padding: 6px 0 7px 0;
  margin-bottom: 2px;
  border-bottom: $border-width solid $border-color;
}

.property__item:nth-child(3) {
  padding-bottom: 7px;
}

@media (min-width: $view-port-tablet) {
  .property {
    @include clear;
    width: 290px;
  }

  .property__field {
    width: 33%;
  }
}

@media (min-width: $view-desktop) {
  .property__item {
    @include clear;
    margin-bottom: 6px;
    padding-bottom: 8px;
  }

  .property__item:nth-child(3) {
    padding-top: 0;
    padding-bottom: 8px;
  }
}
