@import "../partials/params";
@import "../partials/mixins";

.button {
  @include text($color: $word-color, $lh: 20px);
  width: calc(100% - 5px);
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid $word-color;
  cursor: pointer;
}
