@import "../partials/params";
@import "../partials/mixins";

.copyright {
  @include clear;
  @include flex-center(row, space-between, center);
  width: 183px;
  margin: 0 auto;
}

.copyright__text {
  @include text($fz: 19px, $lh: 18px);
}

.copyright__link {
  cursor: pointer;
}

.copyright__link-icon-academy {
  width: 27px;
  height: 34px;
  color: $interactive-color;
  transform: translate(-1px, 5px);

}

@media (min-width: $view-port-tablet) {
  .copyright__link-icon-academy:hover {
    color: $interactive-color;
  }

  .copyright__link-icon-academy:active {
    opacity: 0.3;
  }
}
