@import "../partials/params";
@import "../partials/mixins";

.page-footer {
  @include clear;
  @include flex-center();
  width: 100%;
  background: $section-bg-color;
  margin-top: 39px;
}

.page-footer__wrapper {
  @include flex-center();
  @include clear;
  @include container;
}

.page-footer__social {
  width: 100%;
  padding-top: 23px;
  padding-bottom: 30px;
  border-bottom: $border-width solid #e5e5e5;
}

.page-footer__social-list {
  @include clear-list;
  margin-left: 57px;
}

.page-footer__copyright {
  padding-top: 18px;
  padding-bottom: 24px;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $view-port-tablet) {
  .page-footer {
    margin-top: 57px;
  }

  .page-footer__wrapper {
    @include flex-center($direction: row);
    @include container($view-port-tablet-inline, $wrapper-tablet-indent, $wrapper-tablet-indent);
    padding-top: 51px;
    padding-bottom: 52px;
  }

  .page-footer__social {
    @include clear;
    width: auto;
    border-bottom: none;
    margin-right: auto;
    padding-top: 6px;
  }

  .page-footer__copyright {
    @include clear;
    padding-top: 5px;
  }

  .page-footer__logo-picture {
    vertical-align: bottom;
  }

  .page-footer__logo {
    display: block;
    margin-right: 102px;
  }

  .page-footer__logo-image {
    width: 102px;
    height: 34px;
    vertical-align: bottom;
  }
}

@media (min-width: $view-desktop) {
  .page-footer__wrapper {
    @include container($view-port-desktop, 0, 0);
  }

  .page-footer__logo {
    margin-right: 58px;
  }

  .page-footer__social {
    margin-left: auto;
  }
}
