@import "../partials/params";
@import "../partials/mixins";

.social {
  @include flex-center();
  width: 100%;
}

.social__list {
  @include flex-center(row, $align: baseline);
}

.social__item {
  @include flex-center(row);
  margin-right: 40px;
  cursor: pointer;
}

.social__link-icon-in {
  width: 22px;
  height: 21px;
}

.social__link-icon-fb {
  width: 15px;
  height: 28px;
}

.social__link-icon-tw {
  width: 23px;
  height: 20px;
}

.social__link-icon {
  color: $total-color;
}

@media (min-width: $view-port-tablet) {
  .social {
    width: auto;
  }

  .social__link-icon:hover {
    color: $interactive-color;
  }

  .social__link-icon:active {
    color: $interactive-color;
    opacity: 0.3;
  }
}
