@import "../partials/params";
@import "../partials/mixins";

$icon-tel: "icon-phone.svg";

.input-tel {
  @include clear-list;
  @include flex-center();
  width: 100%;
  margin-bottom: 10px;
}

.input-tel__item {
  @include flex-center(row, $justify: space-between);
  width: 100%;
  border-bottom: 2px solid $total-color;
  margin-bottom: 22px;
  margin-top: 6px;
}

.input-tel__input {
  @include clear;
  width: calc(100% - 40px);
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 19px;
  outline: none;
  border: none;
  background: transparent;
}

.input-tel__label {
  background: transparent url("../../img/#{$icon-tel}") no-repeat;
  width: 25px;
  height: 24px;
  margin-top: 12px;
  margin-right: 8px;
  opacity: 0.2;
  cursor: pointer;
}
