@import "../partials/params";
@import "../partials/mixins";

.input-email {
  @include clear-list;
  @include flex-center();
  width: 100%;
  margin-bottom: 10px;
}

.input-email__input:focus::placeholder,
.input-email__input:hover::placeholder {
  color: rgba($word-color, 0.3);
}

.input-email__input:active::placeholder {
  color: rgba($word-color, 1);
}

.input-email__input:hover + .input-email__label,
.input-email__input:active + .input-email__label,
.input-email__input:focus + .input-email__label {
  border-color: $interactive-color;
}

.input-email__input:hover + .input-email__label > svg,
.input-email__input:active + .input-email__label > svg,
.input-email__input:focus + .input-email__label > svg {
  color: $interactive-color;
  opacity: 1;
}

.input-email__input:invalid:not(:focus) + .input-email__label {
  border-bottom: 2px solid #e74246;
}

.input-email__label {
  width: 100%;
  border-bottom: 2px solid $total-color;
  position: relative;
  padding-bottom: 1px;
}

.input-email__item {
  @include flex-center(row, $justify: space-between);
  width: 100%;
  margin-bottom: 22px;
  margin-top: 0;
}

.input-email__input {
  @include clear;
  width: calc(100% - 40px);
  padding-top: 6px;
  padding-bottom: 15px;
  font-size: 17px;
  line-height: 18px;
  outline: none;
  border: none;
  background: transparent;
}

.input-email__label-icon {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 4px;
  top: -38px;
  opacity: 0.2;
  cursor: pointer;
}

@media (min-width: $view-port-tablet) {
  .input-email {
    @include clear;
    @include form-section(501px);
    @include flex-center();
    flex-wrap: nowrap;
    border-bottom: 0;
    padding-bottom: 52px;
  }

  .input-email__item {
    height: 38px;
    margin-bottom: 0;
  }

  .input-email__input {
    width: calc(100% - 58px);
    padding-top: 0;
    padding-left: 17px;
    padding-bottom: 11px;
    font-size: 19px;
    line-height: 18px;
    box-sizing: border-box;
  }

  .input-email__label-icon {
    right: 22px;
  }
}

@media (min-width: $view-desktop) {
  .input-email {
    @include form-section(700px);
    margin-left: 8px;
  }

  .input-email__label-icon {
    right: 4px;
  }
}
