@import "../partials/params";
@import "../partials/mixins";

.input-message {
  @include clear-list;
  @include flex-center();
  width: 100%;
  margin-top: 8px;
}

.input-message__item {
  width: calc(100% - 34px);
  height: 121px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  font-size: 17px;
  line-height: 18px;
  outline: none;
  resize: none;
  border: 2px solid $total-color;
}

.input-message__item::placeholder {
  color: rgba($word-color, 0.3);
}

.input-message__item:hover,
.input-message__item:active,
.input-message__item:focus {
  border-color: $interactive-color;
}

.input-message__item:active::placeholder {
  color: rgba($total-color, 1);
}

@media (min-width: $view-port-tablet) {
  .input-message {
    @include clear;
    @include form-section(501px);
    @include flex-center();
    flex-wrap: nowrap;
    padding-top: 50px;
    border-bottom: 0;
  }

  .input-message__item {
    height: 124px;
    padding-top: 12px;
    font-size: 19px;
    line-height: 18px;
  }
}

@media (min-width: $view-desktop) {
  .input-message {
    @include form-section(700px);
    margin-left: 8px;
  }
}
