@import "../partials/params";
@import "../partials/mixins";

$icon-tel: "icon-phone.svg";

.input-tel {
  @include clear-list;
  @include flex-center();
  width: 100%;
  margin-bottom: 10px;
}

.input-tel__item {
  @include flex-center(row, $justify: space-between);
  width: 100%;
  border-bottom: 2px solid $total-color;
  margin-bottom: 22px;
  margin-top: 4px;
}

.input-tel__input {
  @include clear;
  width: calc(100% - 40px);
  align-items: stretch;
  padding-top: 0;
  padding-bottom: 15px;
  font-size: 19px;
  outline: none;
  border: none;
  background: transparent;
}

.input-tel__label {
  background: transparent url("../../img/#{$icon-tel}") no-repeat;
  width: 25px;
  height: 24px;
  margin-top: -3px;
  margin-right: 8px;
  opacity: 0.2;
  cursor: pointer;
}

@media (min-width: $view-port-tablet) {
  .input-tel {
    @include clear;
    @include form-section(501px);
    @include flex-center();
    flex-wrap: nowrap;
    border-bottom: 0;
    margin-bottom: 14px;
  }

  .input-tel__item {
    padding-top: 60px;
  }

  .input-tel__input {
    width: calc(100% - 55px);
    padding-left: 16px;
    box-sizing: border-box;
    padding-bottom: 14.5px;
  }

  .input-tel__label {
    margin-right: 26px;
  }
}

@media (min-width: $view-desktop) {
  .input-tel {
    @include form-section(700px);
    margin-left: 8px;
  }

  .input-tel__label {
    margin-right: 8px;
  }
}
