@import "../partials/params";
@import "../partials/mixins";

.input-text {
  @include clear-list;
  @include flex-center();
  width: 100%;
  margin-top: 29px;
  margin-bottom: 10px;
}

.input-text__item {
  width: 100%;
  border-bottom: 2px solid $total-color;
  margin-bottom: 22px;
}

.input-text__label {
  display: block;
  cursor: pointer;
}

.input-text__input {
  @include clear;
  padding-top: 15px;
  padding-bottom: 16px;
  width: 100%;
  outline: none;
  border: none;
}

.input-text__item:nth-child(3) .input-text__input {
  padding-bottom: 15px;
}
