@import "../partials/params";
@import "../partials/mixins";

.input-radio {
  @include clear-list;
  @include flex-center();
  margin-bottom: 11px;
  margin-top: 8px;
}

.input-radio__item {
  @include flex-center($align: center);
  width: 100%;
  margin-bottom: 11px;
}

.input-radio__item:hover .input-radio__label::before,
.input-radio__item input:focus + .input-radio__label::before {
  border-color: $interactive-color;
}

.input-radio__item:active .input-radio__label::before {
  border-color: $word-color;
  opacity: 0.3;
}

.input-radio__item input:checked + .input-radio__label::after {
  display: inline-block;
}

.input-radio__label {
  width: calc(100% - 63px);
  height: 40px;
  padding-left: 63px;
  padding-top: 9px;
  position: relative;
  line-height: 18px;
  cursor: pointer;
}

.input-radio__label::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  top: 0;
  left: 0;
  border: 2px solid $word-color;
  border-radius: 50%;
}

.input-radio__label::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 12px;
  border-radius: 50%;
  background-color: $interactive-color;
  display: none;
}

@media (min-width: $view-port-tablet) {
  .input-radio {
    @include clear;
    @include form-section;
    padding-top: 33px;
    padding-bottom: 26px;
  }

  .input-radio__item {
    @include flex-center();
    margin-bottom: 21px;
  }

  .input-radio__label {
    @include clear;
    @include text($fz: 19px, $lh: 18px, $color: $total-color);
    width: calc(100% - 80px);
    align-self: center;
    padding-left: 80px;
    padding-top: 15px;
  }

  .input-radio__label::before {
    display: inline-block;
    width: 48px;
    height: 48px;
  }

  .input-radio__label::after {
    width: 21px;
    height: 21px;
    top: 15px;
    left: 15px;
  }
}

@media (min-width: $view-desktop) {
  .input-radio__label::before {
    left: 8px;
  }

  .input-radio__label::after {
    left: 23px;
  }

  .input-radio__label {
    width: calc(100% - 88px);
    padding-left: 89px;
  }
}
