@import "../partials/params";
@import "../partials/mixins";

$img-height: 195px;

.card {
  @include flex-center();
  flex-wrap: nowrap;
}

.card:hover .card__description-box {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.card:active .card__description-box {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.card__title {
  @include clear;
  margin-top: 25px;
  max-width: 205px;
}

.card__image {
  height: $img-height;
}

.card__img {
  width: 260px;
  height: $img-height;
  vertical-align: bottom;
}

.card__description-box {
  width: calc(100% - 2px);
  border: $border-width solid $border-color;
}

.card__description {
  @include flex-center();
  width: $description-width;
  margin: 0 auto;
  flex-wrap: nowrap;
}

.card__title-link {
  @include text($fz: 17px, $lh: 24px);
  @include interactive-opacity();
}

.card__params {
  @include clear;
  @include text($fz: 13px, $fw: normal, $lh: 30px, $color: $word-color);
  margin-top: 5px;
}

.card__pay {
  @include clear;
  @include flex-center(row, space-between);
  width: 100%;
  margin-top: 21px;
}

.card__action {
  @include clear;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card__action-basket {
  @include interactive-icon();
  width: 20px;
  height: 19px;
  opacity: 0.2;
}

.card__price {
  @include text($fz: 15px, $lh: 24px);
}

.card__info {
  width: 100%;
  margin: 19px auto 0;
  padding-bottom: 27px;
  border-top: 1px solid $border-color;
}

@media (min-width: $view-port-tablet) {
  .card {
    @include flex-center($direction: row, $justify: space-between, $align: stretch);
  }

  .card__image {
    height: 100%;
  }

  .card__img {
    width: 334px;
    height: 334px;
    vertical-align: bottom;
  }

  .card__description-box {
    display: flex;
    width: 332px;
  }

  .card__description {
    @include clear;
    flex-wrap: nowrap;
    width: 334px - (27 * 2);
    margin: 24px auto 0;
    box-sizing: border-box;
  }

  .card__title {
    margin-top: 0;
    max-width: 100%;
    width: 232px;
  }

  .card__title-link {
    @include text($fz: 20px, $lh: 24px);
  }

  .card__params {
    @include text($fz: 15px, $fw: normal, $lh: 30px);
    margin-top: 7px;
  }

  .card__price {
    @include text($fz: 17px, $lh: 24px);
  }

  .card__pay {
    width: 268px;
    margin: 22px auto 0;
  }

  .card__info {
    margin: auto auto 0;
    padding-bottom: 24px;
    border-top: 1px solid $border-color;
  }
}

@media (min-width: $view-desktop) {
  .card {
    @include clear;
    width: 316px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    height: auto;
    max-height: 100%;
  }

  .card__img {
    width: 316px;
    height: 462px;
  }

  .card__image {
    height: 462px;
  }

  .card__description {
    width: 256px;
    margin: 25px auto 0 26px;
  }

  .card__params {
    margin-top: 5px;
  }

  .card__pay {
    width: auto;
    margin-top: 22px;
  }

  .card__description-box {
    width: auto;
    min-height: 195px;
    flex-grow: 1;
  }

  .card__info {
    width: 100%;
    margin-top: auto;
    padding-bottom: 24px;
  }
}
