@import "../partials/params";
@import "../partials/mixins";

@media (min-width: $view-desktop) {
  .order-list {
    display: flex;
    flex-wrap: wrap;
    width: 414px;
  }

  .order-list__item {
    @include clear;
    display: flex;
    width: 48%;
    box-sizing: border-box;
  }

  .order-list__link {
    @include text($fz: 15px);
    @include interactive-link;
  }

  .order-list__item:nth-child(2) {
    padding-left: 22px;
  }
}
