@import "../partials/params";
@import "../partials/mixins";

.user-list__link {
  @include text();
  display: flex;
  position: relative;
}

.user-list__link-icon--search {
  width: 18px;
  height: 18px;
}

.user-list__link-icon--cart {
  width: 21px;
  height: 18px;
}

.user-list__link-icon {
  @include interactive-icon();
  opacity: 0.2;
  position: absolute;
  top: 5px;
  left: 1px;
}

@media (min-width: $view-port-tablet) {
  .user-list {
    @include flex-center($direction: row);
    align-items: stretch;
    width: 348px;
  }

  .user-list__item {
    border-left: $border-width solid $border-color;
    max-width: 348px;
  }

  .user-list__item-wrap {
    padding-top: 31px;
    padding-bottom: 33px;
  }

  .user-list__link--basket {
    margin-left: 32px;
    padding-left: 50px;
  }

  .user-list__link-hid {
    display: none;
  }

  .user-list__link-icon--search {
    transform: translate(32px, 1px);
  }
}
