@import "../partials/params";
@import "../partials/mixins";

.decor-line {
  height: 6px;
  width: $view-port-mobile;
  background: transparent url("../img/bg-zigzag-line.svg") no-repeat 50% 50%;
  background-size: 100% 100%;
}

@media (min-width: $view-port-tablet) {
  .decor-line {
    width: 768px;
    height: 23px;
    background-size: 100% 17px;
  }
}

@media (min-width: $view-desktop) {
  .decor-line {
    width: $view-port-desktop;
    //@include container($view-port-desktop, 0, 0);
    height: 23px;
  }
}
